/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $primary-font;
  background-color: $primary-bg;
  font-size: $font-size;
  line-height: 20px;
  font-weight: $font-weight-normal;
  color: $primary-color-text;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
