/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$font-size: 16px;
$font-weight-normal: 400;

$primary-color: #68b738;
$secondary-color: #000000;
$secondary-color-2: #666666;

$primary-bg: #ffffff;
$secondary-bg: #f2f2f2;
$accent-bg: #dedede;

$primary-color-text: #444444;
$black: #000000;
$white: #ffffff;
$additional-color-text: #222222;
$accent-color-text: #111111;

$primary-border-color: #d9d9d9;
$secondary-border-color: #cdcdcd;
$error-border: #ff8282;

$primary-border: 1px solid $primary-border-color;
$secondary-border: 1px solid $secondary-border-color;
