.header {
  border-bottom: 1px solid #ebebeb;
  position: relative;
  padding: 13px 0;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 25px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 0 0;
  }
}

.header__navigation {
  margin: 0;
}
