.header {
  border-bottom: 1px solid #ebebeb;
  position: relative;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    //
  }
}

.header__container {
  //
}

.header__navigation {
  margin: 13px 0 15px;

  @media (min-width: $tablet-width) {
    margin: 25px 0 65px;
  }

  @media (min-width: $desktop-width) {
    margin: 56px 0 24px;
  }
}
