.navigation {
  display: flex;
  justify-content: space-between;
  background-color: $white;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 709px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }

  @media (min-width: $tablet-width) {
    .navigation__toggle {
      display: none;
    }
  }
}


.navigation__logo {
  text-decoration: none;
  height: 38px;


  @media (min-width: $tablet-width) {
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.navigation__toggle {
  background-color: $secondary-color;
  display: block;
  padding: 0;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-top: 7px;


  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;
    cursor: default;
  }
}

.navigation__toggle--open {
  mask-image: url("../../icons/stack.svg#button-open-mobile");
  mask-repeat: no-repeat;
}

.navigation__toggle--close {
  mask-image: url("../../icons/stack.svg#button-close-mobile");
  mask-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: none;
}

.navigation__list {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    max-width: 436px;
  }

  @media (min-width: $desktop-width) {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    max-width: 475px;
  }
}

//.navigation__list:not(.navigation__toggle--open) {
// @media (min-width: $mobile-with-only) {
//  display: none;
// }
//}

.navigation__list--open {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100vw;
  background-color: $white;
  //display: none;


  @media (min-width: $tablet-width) {
    position: static;
    background: none;
  }
}

.navigation__item {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: none;
    position: relative;
  }
}

.navigation__item--current {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 64px;
      height: 2px;
      background-color: $accent-border-color;
      top: 46px;
      left: 5px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      background-color: $white;
      width: 68px;
      top: 49px;
      left: 5px;
    }
  }
}


.navigation__link {
  text-decoration: none;
  display: block;
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  cursor: pointer;
  padding: 22px 0 24px;
  text-align: center;


  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 14px 5px 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: $white;
    padding: 20px 5px 10px;
  }
}
