.navigation {
  //
}

.navigation__logo {
  text-decoration: none;
}

.navigation__toggle {
  background-color: $secondary-color;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.navigation__toggle--open {
  mask-image: url("../../icons/stack.svg#button_open_mobile");
  mask-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.navigation__toggle--close {
  mask-image: url("../../icons/stack.svg#button_close-mobile");
  mask-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: none;
}

.navigation__list {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
}

.navigation__item {
  padding: 0;
}

.navigation__item--current {
  //
}

.navigation__link {
  display: block;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $secondary-color-text;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.2;
  }
}

