.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__logo {
  height: 38px;

  @media (min-width: $tablet-width) {
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.navigation__toggle {
  background-color: $secondary-color;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;
    cursor: default;
  }
}

.navigation__toggle--open {
  mask-image: url("../../icons/stack.svg#button-open-mobile");
  mask-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.navigation__toggle--close {
  mask-image: url("../../icons/stack.svg#button-close-mobile");
  mask-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: none;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    width: 436px;
  }

  @media (min-width: $desktop-width) {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    width: 475px;
  }
}


.navigation__item {
  //
}

.navigation__item--current {
  //
}

.navigation__link {
  display: block;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
}
