.navigation {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  align-items: center;


  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    //
  }

  @media (min-width: $tablet-width) {
    .navigation__toggle {
      display: none;
    }
  }
}

.navigation__logo {
  text-decoration: none;
  height: 38px;


  @media (min-width: $tablet-width) {
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.navigation__toggle {
  background-color: $black;
  display: inline-block;
  content: "";
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;
    cursor: default;
  }
}

.navigation__toggle--closed {
  mask-image: url("../../icons/stack.svg#button-open-mobile");
  height: 24px;
  width: 24px;
}

.navigation__toggle--opened {
  mask-image: url("../../icons/stack.svg#button-close-mobile");
  width: 20px;
  height: 20px;
}

.navigation__list {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 436px;
  }

  @media (min-width: $desktop-width) {
    max-width: 475px;
  }
}

//.navigation__list:not(.navigation__toggle--opened) {
//  @media (min-width: $mobile-width-only) {
//    display: none;
// }
//}

.navigation__list--open {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100vw;
  background-color: $white;
  //display: none;

  @media (min-width: $tablet-width) {
    position: static;
    background: none;
  }
}

@media (max-width: $mobile-width-only) {
  .navigation__toggle--closed + .navigation__list--open {
    display: none;
  }
}

.navigation__item {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: none;
    position: relative;
    margin-left: -9px;
  }
}

.navigation__link {
  text-decoration: none;
  display: block;
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  cursor: pointer;
  padding: 22px 0;
  text-align: center;


  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 12px 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 11px 5px;
  }
}

.navigation__link--current {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: calc(100% - 10px);
      height: 2px;
      background-color: $accent-border-color;
      top: 46px;
      left: 5px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 49px;
      left: 5px;
    }
  }
}


.navigation__link--light {
  @media (min-width: $desktop-width) {
    color: $white;

    &::after {
      background-color: $white;
    }
  }
}
