.benefits {
  //
}

.benefits__container {
  //
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.benefits__item {
  background-color: $secondary-bg;
  min-height: 266px;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    gap: 80px;
  }


  &::before {
    display: inline-block;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }
}


.benefits__item--primary::before {
  background-image: url("../../icons/stack.svg#cat-slim");
  width: 50px;
  height: 53px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
  }
}

.benefits__item--secondary::before {
  background-image: url("../../icons/stack.svg#cat-pro");
  width: 67px;
  height: 50px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
  }
}

.benefits__item-title {
  //
}

.benefits__item-description {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $primary-color-text;
  text-align: center;
  margin: 0 0 23px;
}

.benefits__card-link {
  display: block;
  font-family: $secondary-font;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  border-top: $primary-border;
  padding-top: 15px;
  gap: 15px;


  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.benefits__card-link::after {
  mask-image: url("../../icons/stack.svg#arrow-benefits");
  display: inline-block;
  content: "";
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 32px;
  height: 12px;
  background-color: $black;
}
