.contacts {
  //
}

.contacts__container {
  //
}

.contacts__offer {
  font-family: $secondary-font;
  font-size: $font-size;
  line-height: 20px;
  font-weight: $font-weight-normal;
  color: $accent-color-text;
  text-transform: uppercase;
  margin: 0;
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  color: $primary-color-text;
  font-style: normal;
}

.contacts__map {
  //
}
