.contacts {
  //
}

.contacts__container {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.contacts__offer {
  font-family: $secondary-font;
  line-height: 20px;
  color: $accent-color-text;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 120px;
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  color: $primary-color-text;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 120px;
}

.contacts__map {
  //
}
