.contacts {
  @media (min-width: $tablet-width) {
    //
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts--secondary {
  background-color: $secondary-bg;

  @media (min-width: $desktop-width) {
    background-color: $primary-bg;
  }
}


.contacts__container {
  //
}

.contacts__info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 79px;
    min-width: 565px;
    min-height: 199px;
    position: absolute;
    bottom: 70px;
    background-color: $primary-bg;
  }
}

.contacts__offer {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  line-height: 20px;
  color: $accent-color-text;
  text-transform: uppercase;
  margin: 0;
  min-width: 140px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 87px;
  }
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  color: $primary-color-text;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    & span {
      display: block;
      margin-top: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
}

.contacts__map {
  display: block;
  height: 100%;

  & iframe {
    width: 100%;
    height: 100%;
    min-height: 362px;
    border: 0;
  }

  @media (min-width: $tablet-width) {
    & iframe {
      min-height: 400px;
    }
  }
}
