.hero {
  //
}


.hero__container {
  background-color: $accent-bg;
}

.hero__title {
  color: $white;
  margin-bottom: 25px;
}


.hero__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: $font-weight-normal;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  margin: 0 0 29;
}

.hero__image {
  //
}

.hero__button {
  //
}
