.illustration {
  background-color: $accent-bg;
  display: flex;
  flex-direction: column;
}

.illustration__container {
  //
}

.illustration__title {
  text-align: left;
  margin: 0 0 40px;
  padding: 0;
  color: $black;
}

.illustration__description {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  color: $primary-color-text;
  text-align: left;
}

.illustration__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.illustration__stats {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: $secondary-border;
  width: 124px;
  gap: 32px;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }
}

.illustration__stats-number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  margin: 0;
}

.illustration__stats-description {
  font-size: 12px;
  line-height: 100%;
  margin: 0;
}

.illustration__resume {
  font-family: $secondary-font;
  line-height: 20px;
  font-size: 14px;
  color: $black;
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.illustration__slider {
  //
}
