.illustration {
  background-color: $accent-bg;
  position: relative;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $primary-bg 55%, $accent-bg 55%, $accent-bg 45%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, rgb(255, 255, 255)  0% 12%, #eaeaea 12%, #eaeaea 88%);
  }
}

.illustration__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.illustration__title {
  text-align: left;
  margin: 0 0 40px;
  padding: 25px 0 0;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    margin-bottom: 60px;
    width: fit-content;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 146px;
  }
}

.illustration__description {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 20px;
  color: $primary-color-text;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 433px;
    margin-bottom: 69px;
  }
}

.illustration__stats {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-bottom: 57px;
    width: fit-content;
  }
}

.illustration__item {
  text-align: center;
  border-top: $secondary-border;
  border-right: $secondary-border;
  border-left: $secondary-border;
  position: relative;
  border-radius: 3px;
  min-width: 124px;
  padding-top: 14px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 23px;
    background-color: #cdcdcd;
    left: 1px;
    bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 23px;
    background-color: #cdcdcd;
    right: 1px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    height: 72px;
    padding-top: 15px;
    width: 162px;

    &:not(:last-child) {
      margin-right: 43px;
    }

    &::before,
    &::after {
      width: 13px;
    }
  }
}

.illustration__item-number {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  margin: 0 0 5px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin: 0 0 11px;
  }
}

.illustration__item-description {
  font-size: 12px;
  line-height: 100%;
  margin: 0 0 -14px 23px;
  max-width: 77px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    min-width: 125px;
    margin: 0 0 -25px 18px;
  }
}

.illustration__resume {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  line-height: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: $black;
  flex-grow: 1;
  text-align: center;
  margin: 20px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;

    & span {
      display: block;
      text-align: right;
      margin-top: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 75px;
    max-width: 350px;
    margin-left: 0;
    width: fit-content;


    & span {
      display: inline-block;
      margin-top: 0;

      &:not(:last-of-type) {
        margin-right: 63px;
      }
    }
  }
}

.illustration__slider {
  @media (min-width: $tablet-width) {
    margin: 99px auto 101px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
