.main {
  //
}

.main__hero {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}

.main__benefits {
  //
}

.main__product-description {
  //
}

.main__illustration {
  //
}
