.product-description {
  //
}

.product-description__container {
  //
}

.product-description__title {
  text-align: left;
  margin: 0 0 40px;
  padding: 0;
  color: $black;
}

.product-description__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-description__item {
  padding: 0;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-right: 80px;
  }


  &::before {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-color: $primary-color;
    width: 60px;
    height: 60px;


    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }

    @media (min-width: $desktop-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.product-description__item--healthy::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 25px 28px;
}

.product-description__item--fast::before {
  background-image: url("../../icons/stack.svg#pulver");
  background-size: 26px 28px;
}

.product-description__item--functional::before {
  background-image: url("../../icons/stack.svg#eat");
  background-size: 25px 30px;
}

.product-description__item--productive::before {
  background-image: url("../../icons/stack.svg#clock");
  background-size: 26px 31px;
}

.product-description__text {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $primary-color-text;
  margin: 0;
}
