.product-description {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}


.product-description__container {
  //
}

.product-description__title {
  text-align: left;
  margin: 0 0 40px;
  padding: 0;
  color: $black;
}

.product-description__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;


  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    counter-reset: test;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin: 0 0 69px;
    padding: 0;
  }
}


.product-description__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 153px 0 0;
    max-height: 280px;
    max-width: 230px;
    padding: 40px 0 57px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }


  &::before {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-color: $primary-color;
    width: 60px;
    height: 60px;
    margin-right: 20px;


    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
      margin-right: 0;
    }

    @media (min-width: $desktop-width) {
      width: 80px;
      height: 80px;
    }
  }
}


@media (min-width: $tablet-width) {
  .product-description__item:nth-child(even) {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .product-description__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 37px;
  }
}

@media (min-width: $desktop-width) {
  .product-description__item:not(:last-child) {
    margin-right: 100px;
  }
}


.product-description__item--healthy::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 25px 28px;
}

.product-description__item--fast::before {
  background-image: url("../../icons/stack.svg#pulver");
  background-size: 26px 28px;
}

.product-description__item--functional::before {
  background-image: url("../../icons/stack.svg#eat");
  background-size: 25px 30px;
}

.product-description__item--productive::before {
  background-image: url("../../icons/stack.svg#clock");
  background-size: 26px 31px;
}

@media (min-width: $tablet-width) {
  .product-description__list .product-description__item::after {
    counter-increment: test;
    content: counter(test);
    position: absolute;
    display: inline-block;
    right: 5px;
    top: 0;
    font-size: 280px;
    line-height: 280px;
    font-family: $secondary-font;
    font-weight: 400;
    color: #f2f2f2;
  }
}

.product-description__text {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $primary-color-text;
  margin: 0;
  max-width: 200px;
  text-align: left;

  @media (min-width: $tablet-width) {
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
    z-index: 1;
  }
}
