.product-description {
  //
}

.product-description__container {
  background-color: #cccccc;
}

.product-description__title {
  color: $black;
}

.product-description__list {
  list-style-type: none;
  padding: 0;
}

.product-description__item {
  padding: 0;

  &::before {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-color: $primary-color;
    width: 60px;
    height: 60px;
  }
}

.product-description__item--healthy::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 25px 28px;
}

.product-description__item--fast::before {
  background-image: url("../../icons/stack.svg#pulver");
  background-size: 26px 28px;
}

.product-description__item--functional::before {
  background-image: url("../../icons/stack.svg#eat");
  background-size: 25px 30px;
}

.product-description__item--productive::before {
  background-image: url("../../icons/stack.svg#clock");
  background-size: 26px 31px;
}

.product-description__text {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $primary-color-text;
  text-align: center;
}
