.subscribe-form {
  //
}

.subscribe-form__input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $primary-color-text;
  border: 1px solid #e7e7e7;
  margin-bottom: 16px;

  &:hover {
    border: $secondary-border;
  }

  &:focus {
    border: 2px solid #444444;
  }
}


.subscribe__button {
  //
}
