.subscribe-form {
  padding: 13px;
  border: 1px solid $accent-border-color;
}

.subscribe-form__input {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: $font-weight-normal;
  line-height: auto;
  color: $primary-color-text;
}

.subscribe-form__button {
  //
}
