.subscribe {
  margin: 0;
  padding: 0;
}

.subscribe__title {
  margin: 0 0 32px;

  @media (min-width: $tablet-width) {
    margin: 0 0 66px 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 72px;
  }
}

.subscribe__text {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  margin: 0 0 24px;
  text-align: center;
  min-width: auto;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    max-width: 632px;
    margin: 0 auto 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
    margin: 0 auto 24px;
  }
}

.subscribe__form {
  display: block;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 38px 80px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 235px 104px;
  }
}
