.title-h3 {
  position: relative;
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-align: left;
  width: fit-content;
  background: $white;
  box-shadow: -20px 0 0 0 $white, 40px 0 0 0 $white;


  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.title-h3--line::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: $accent-border-color;
  top: 9px;
  right: 0;
  z-index: -1;
  box-shadow: 100vw 0 0 0 $accent-border-color;
}
