.addition-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: $secondary-border;
  padding: 15px 0 18px;
  margin: 0;


  @media (min-width: $tablet-width) {
    padding: 26px 38px 27px;
    display: grid;
    grid-template-columns: 380px 150px 90px;
    grid-template-rows: 1fr auto;
    row-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 0 18px;
    display: flex;
    justify-content: space-between;
    min-width: 896px;

    & span {
      margin-top: 4px;
    }
  }
}

.addition-card__title {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  line-height: 16px;
  color: $additional-color-text;
  text-transform: uppercase;
  margin: 0 0 10px;
  width: 100%;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: fit-content;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    align-self: center;
    width: 161px;
    margin-right: 163px;
  }
}

.addition-card__description {
  display: flex;
  font-size: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    display: grid;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    justify-content: start;
    align-items: center;
    min-width: 161px;
    margin-right: 60px;
  }
}

.addition-card__text {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0 5px;

  & span {
    margin-left: 3px;
  }


  @media (min-width: $tablet-width) {
    font-size: 16px;
    justify-self: end;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    width: fit-content;
    justify-content: start;
    align-self: center;
  }
}

.addition-card__button {
  margin: 10px auto 0;
  width: 100%;


  @media (min-width: $tablet-width) {
    margin: 0 0 auto;
    grid-column: 1/4;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    max-width: 244px;
    margin: 0 0 0 23px;
  }
}

.addition__promo {
  margin: 36px 0 41px;

  @media (min-width: $tablet-width) {
    margin: 0 0 80px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
