.benefits {


}

.benefits__container {

}

.benefits__list {
  list-style-type: none;
}

.benefits__item {
  background-color: $secondary-bg;
}

.benefits__item-title {
  font-family: $secondary-font;
  font-weight: $font-weight;
  font-size: 24px;
  line-height: 37px;
  color: $secondary-color;
  text-align: center;
}

.benefits__item-description {
  font-family: $primary-font;
  font-weight: $font-weight;
  font-size: 14px;
  line-height: $line-height;
  color: $primary-color;
  text-align: center;
}


.benefits__card-link {
  font-family: $secondary-font;
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 16px;
  color: $secondary-color;
  text-decoration: none;
  text-transform: uppercase;
}
