.button {
  display: inline-block;
  background-color: $primary-color;
  color: $white;
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  line-height: 20px;
  font-size: $font-size;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  min-height: 40px;
  padding: 10px 44px;
  cursor: pointer;
  align-items: center;


  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: #9f9d9d;
  }

  //&:disabled {
  //color: ;
}


.button:disabled {
  color: #e7e7e7;
  pointer-events: none;
}

.button--primary {
  //
}

.button--secondary {
  background-color: $secondary-bg;
  color: $primary-color-text;

  &:hover,
  &:focus {
    background-color: #ebebeb;
    color: $primary-color-text;
  }
}

.button--third {
  //
}
