.catalog-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  padding: 22px 20px 25px;
  border-top: 1px solid #ebebeb;
  margin: 0;

  & span {
    margin-left: 2px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    border: none;
    padding: 0 37px 40px;
    background: linear-gradient(to bottom, rgb(255, 255, 255)  0% 16%, #f2f2f2 16%, #f2f2f2 84%);
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0 38px 40px;
    background: linear-gradient(to bottom, rgb(255, 255, 255)  0% 16%, #f2f2f2 16%, #f2f2f2 84%);
  }
}

.catalog-card__link-image {
  grid-column: 1/2;
  grid-row: 1/3;
  text-decoration: none;
  padding: 0;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 22px 0 0;
    margin: 0 auto;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 0 0;
  }
}

.catalog-card__picture {
  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}

.catalog-card__title {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 0;
  max-width: 76px;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 135px;
    text-align: center;
    margin: 32px auto 18px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin: 22px auto 19px;
  }
}

.catalog-card__list {
  margin: 0 0 -3px;
  padding-bottom: 3px;
  align-self: end;


  & span {
    display: block;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 32px;
  }
}

.catalog-card__item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: -2px;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 0 4px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0 6px;
  }
}

.catalog-card__item-description {
  display: flex;
  margin: 0;
}

.catalog-card__item-text {
  display: flex;
  margin: 0;

  @media (min-width: $tablet-width) {
    //
  }
}

.catalog-card--secondary {
  display: block;
  padding: 25px 20px 23px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: 1px solid #f2f2f2;
    margin: 83px 0 0;
    background: none;
    padding: 50px 37px 40px;
    min-height: 432px;
  }

  @media (min-width: $desktop-width) {
    margin: 79px 0 0;
    min-height: 432px;
  }
}

.catalog-card--secondary::before {
  background-image: url("../../icons/stack.svg#plus");
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  background-size: contain;
  margin: 0 auto 25px;


  @media (min-width: $tablet-width) {
    height: 60px;
    width: 60px;
    margin: 0 auto 50px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 40px;
  }
}

.catalog-card__text {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  line-height: 20px;
  font-size: 16px;
  color: $accent-color-text;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 23px;
    line-height: 24px;
    font-size: 20px;
    max-width: 134px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 18px 26px;
  }
}

.catalog-card__subtitle {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin: 0 auto 84px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 93px;
    max-width: 175px;
  }
}

.catalog-card__button {
  text-decoration: none;
  margin-top: 20px;
  width: 100%;
  grid-column: 1/3;
  grid-row: 3/4;

  @media (min-width: $tablet-width) {
    min-width: 250px;
    max-height: 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}

.catalog-card__button-additional {
  width: 100%;
  margin-top: 21px;


  @media (min-width: $tablet-width) {
    min-width: 250px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}
