.catalog-card {

}

.catalog-card__link {
  text-decoration: none;
}

.catalog-card__title {

}

.catalog-card__list {

}

.catalog-card__item {

}


.catalog-card--secondary {

}

.catalog-card__text {
  margin-bottom: 21px;
}

.catalog-card__subtitle {

}

.catalog-card__button {
  background-color: $secondary-bg;
  color: $primary-color;
}

