.contacts {
  //
}

.contacts__container {
  //
}

.contacts__offer {
  font-family: $secondary-font;
  font-size: $font-size;
  line-height: 20px;
  font-weight: $font-weight;
  color: #111111;
  text-transform: uppercase;
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  color: $primary-color;
  font-style: normal;
}

.contacts__map {
  //
}
