.header {
  border-bottom: 1px solid #ebebeb;
  position: relative;
  padding: 13px 0;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 25px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 0 0;

    &::before {
      position: absolute;
      content: "";
      background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85));
      display: inline-block;
      width: 50%;
      height: auto;
      background-size: auto 100%;
      background-position: center left;
      background-repeat: no-repeat;
    }
  }
}

.header__navigation {
  margin: 0;
}
