.header {
  border-bottom: 1px solid #ebebeb;
  padding: 13px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 25px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 0 0;
  }

  &--secondary {
    @media (min-width: $desktop-width) {
      &::before {
        position: absolute;
        content: "";
        background-color: #444444;
        background-image: linear-gradient(to bottom, rgba(#68b738, 0.85), rgba(#68b738, 0.85));
        display: inline-block;
        width: 50%;
        height: calc(100% + 56px);
        inset: -56px 0 0 50%;
        background-size: auto 100%;
        background-position: center;
        right: 0;
        background-repeat: no-repeat;
      }
    }
  }
}


.header__navigation {
  margin: 0;
}
