.hero {
  //
}


.hero__container {
  background-color: #dedede;
}

.hero__title {
  color: #ffffff;
  margin-bottom: 25px;
}


.hero__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: $font-weight;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__image {
  //
}

.hero__button {
  //
}
