.illustration {
  background-color: $accent-bg;
  position: relative;
  padding-top: 27px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $primary-bg 57%, $accent-bg 57%, $accent-bg 43%);
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, rgb(255, 255, 255)  0% 23%, #eaeaea 23%, #eaeaea 77%);
    padding-bottom: 75px;
  }
}

.illustration__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 35% 27% 23% auto;
    grid-column-gap: 50px;
    height: 523px;
  }
}

.illustration__title {
  text-align: left;
  margin: 0 0 43px;
  padding: 0;
  color: $black;


  @media (min-width: $tablet-width) {
    padding-top: 43px;
    margin-bottom: 60px;
    width: fit-content;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
  }
}

.illustration__description {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 20px;
  color: $primary-color-text;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 433px;
    margin-bottom: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }
}

.illustration__stats {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  margin: 0 0 18px;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-content: flex-start;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: end;
  }
}

.illustration__item {
  text-align: center;
  border-top: $secondary-border;
  border-right: $secondary-border;
  border-left: $secondary-border;
  position: relative;
  border-radius: 3px;
  min-width: 124px;
  padding: 8px 5px 0;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 17px;
    background-color: #cdcdcd;
    left: 1px;
    bottom: 1px;
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 17px;
    background-color: #cdcdcd;
    right: 1px;
    bottom: 1px;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 15px 0;
    width: 162px;
    margin: 0;

    &:not(:last-child) {
      margin-right: 43px;
    }

    &::before,
    &::after {
      width: 13px;
    }

    @media (min-width: $desktop-width) {
      padding: 23px 8px 0;
    }
  }
}

.illustration__item-number {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  margin: 5px 0 8px;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin: 2px 0 11px;
  }

  @media (min-width: $desktop-width) {
    margin: -10px 0 9px;
  }
}

.illustration__item-description {
  font-size: 12px;
  line-height: 100%;
  margin: 0 0 -12px 19px;
  max-width: 77px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    max-width: 125px;
    margin: 0;


    @media (min-width: $desktop-width) {
      margin: 0 0 -4px 3px;
    }
  }
}

.illustration__resume {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  line-height: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: $black;
  flex-grow: 1;
  text-align: center;
  margin: 0 0 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;

    & span {
      display: block;
      text-align: right;
      margin-top: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 350px;
    width: fit-content;
    grid-column: 1/2;
    grid-row: 4/5;
    align-self: end;
    margin: 0;

    & span {
      display: inline-block;
      margin-top: 0;

      &:not(:last-of-type) {
        margin-right: 65px;
      }
    }
  }
}

.illustration__slider {
  @media (min-width: $tablet-width) {
    margin: 105px auto 101px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
