.navigation {
  //
}

.navigation__logo {
  text-decoration: none;
}

.navigation__toggle {
  //
}

.navigation__button-close {
  //
}

.navigation__list {
  list-style-type: none;
  text-transform: uppercase;
}

.navigation__item {
  //
}

.navigation__item--current {
  //
}

.navigation__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $secondary-color;
  text-decoration: none;
  cursor: pointer;
}
