.product-description {
  //
}

.product-description__container {
  //
}

.product-description__title {
  color: $secondary-color;
}

.product-description__list {
  list-style-type: none;
}

.product-description__item {
  //
}

.product-description__item--healthy {
  //
}

.product-description__text {
  font-family: $primary-font;
  font-weight: $font-weight;
  font-size: 14px;
  line-height: $line-height;
  color: $primary-color;
  text-align: center;
}

.product-description__item--fast {
  //
}

.product-description__item--functional {
  //
}

.product-description__item--productive {
  //
}
