.subscribe-form {
  //
}

.subscribe-form__input {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: $font-weight;
  line-height: auto;
  color: $primary-color;
}

.subscribe-form__button {
  //
}

