.developer {
  display: flex;
}

.developer__link {
  display: block;
  color: $primary-color-text;
  line-height: 20px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.developer__link::after {
  mask-image: url("../../icons/stack.svg#logo-html");
  display: inline-block;
  content: "";
  width: 27px;
  height: 34px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  margin: 0 0 0 95px;
  background-color: $secondary-color-2;
}

.developer__link:hover::after,
.developer__link:focus::after {
  background-color: $primary-color;
}

.developer__link:active::after {
  opacity: 0.8;
}
