.developer {
  padding-top: 4px;
}

.developer__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: $primary-color-text;
  line-height: 20px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }

  @media (min-width: $tablet-width) {
    min-width: 168px;
    align-items: center;
  }
}


.developer__link::after {
  mask-image: url("../../icons/stack.svg#logo-html");
  display: inline-block;
  content: "";
  width: 27px;
  height: 34px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $secondary-color-2;
  margin-top: -5px;
}

.developer__link:hover::after,
.developer__link:focus::after {
  background-color: $primary-color;
}

.developer__link:active::after {
  opacity: 0.8;
}
