.social {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  gap: 24px;
  border-top: $primary-border;
  border-bottom: $primary-border;
  padding: 20px 0;


  @media (min-width: $tablet-width) {
    border: none;
    padding: 7px 0 0;
    min-width: 132px;
  }
}

.social__item {
  @media (min-width: $tablet-width) {
    //
  }
}

//.social__item:not(:last-child) {
// margin-right: 24px;
//}


.social__link {
  text-decoration: none;
  display: block;
  cursor: pointer;

  &::after {
    background-color: $secondary-color-2;
    display: inline-block;
    content: "";
    width: 28px;
    height: 22px;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &:hover::after,
  &:focus::after {
    background-color: $primary-color;
  }

  &:active::after {
    opacity: 0.4;
  }
}

.social__link--vkontakte::after {
  mask-image: url("../../icons/stack.svg#vkontakte");
}

.social__link--youtube::after {
  mask-image: url("../../icons/stack.svg#youtube");
}

.social__link--telegram::after {
  mask-image: url("../../icons/stack.svg#telegram");
}
