.addition {
  //
}

.addition__container {
  //
}

.addition__title {
  border-bottom: $secondary-border;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin-bottom: 80px;
    padding: 0;
  }
}

.addition__list {
  border: $secondary-border;
  list-style-type: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 -38px;
  }
}


.addition__item {
  //
}

.addition__item-card {
  //
}
