.addition-card {
  //
}

.addition-card__title {
  font-family: $secondary-font;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  line-height: 16px;
  color: $additional-color-text;
  text-transform: uppercase;
}


.addition-card__description {
  font-size: 14px;
  line-height: 20px;
}


.addition-card__button {
  //
}

.addition__promo {
  //
}
