.addition-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: $secondary-border;
  padding: 14px 0 18px;
  margin: 0;

  & span {
    margin-left: 3px;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    display: grid;
    grid-template-columns: 380px 150px 90px;
    grid-template-rows: 1fr auto;
    row-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 0 17px;
    //display: grid;
    display: flex;
    justify-content: space-between;
    width: 896px;
    // grid-template-columns: 60% 20% 5% 15%;
    //grid-template-rows: 1fr;
    // row-gap: none;
    //grid-gap: 15px;
  }
}

.addition-card__title {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  line-height: 16px;
  color: $additional-color-text;
  text-transform: uppercase;
  margin: 0 0 13px;
  width: 100%;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: fit-content;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    align-self: center;
    width: 161px;
    margin-right: 163px;
  }
}

.addition-card__description {
  display: flex;
  font-size: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    display: grid;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    // justify-content: start;
    // align-items: center;
    justify-content: start;
    align-items: center;
    min-width: 161px;
    margin-right: 60px;
  }
}

.addition-card__text {
  //display: flex;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    width: fit-content;
    justify-content: start;
    align-self: center;
  }
}

.addition-card__button {
  margin: 15px auto 0;
  min-width: 280px;


  @media (min-width: $tablet-width) {
    min-width: 632px;
    margin: 0 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
    margin: 0 0 0 23px;
  }
}

.addition__promo {
  margin: 36px 0 40px;

  @media (min-width: $tablet-width) {
    margin: 0 0 80px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
