.addition {
  //
}

.addition__container {
  //
}

.addition__title {
  //
}

.addition__list {
  list-style-type: none;
  padding: 0;
}

.addition__item {
  //
}

.addition__item-card {
  margin-bottom: 25px;
}
