.catalog-card {
  //
}

.catalog-card__content {
  //
}

.catalog-card__link-image {
  //
}

.catalog-card__link {
  display: block;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.catalog-card__picture {
  //
}

.catalog-card__title {
  //
}

.catalog-card__list {
  //
}

.catalog-card__item {
  //
}

.catalog-card__item-description {
  font-size: 12px;
  line-height: 16px;
}

.catalog-card--secondary {
  //
}

.catalog-card__text {
  font-family: $secondary-font;
  line-height: 20px;
  color: $accent-color-text;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.catalog-card__subtitle {
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__button {
  //
}
