.catalog-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 55px 48px auto;
  padding: 20px 20px 25px;
  border-top: 1px solid #ebebeb;
  margin: 0;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 0 37px 40px;
    background: linear-gradient(to bottom, rgb(255, 255, 255)  0% 13%, #f2f2f2 13%, #f2f2f2 87%);
    min-height: 511px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px;
    background: linear-gradient(to bottom, rgb(255, 255, 255)  0% 10%, #f2f2f2 10%, #f2f2f2 90%);
  }
}

.catalog-card__link-image {
  grid-column: 1/2;
  grid-row: 1/3;
  text-decoration: none;
  display: block;
  padding: 0 36px;

  @media (min-width: $tablet-width) {
    //margin-bottom: 22px;
    padding: 0;
    margin: 0 auto;
    object-position: center;
  }
}

.catalog-card__picture {
  @media (min-width: $tablet-width) {
    object-fit: scale-down;
  }
}

.catalog-card__title {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  //display: block;
  margin: 0;
  max-width: 76px;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 135px;
    text-align: center;
    margin: 0 auto 20px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.catalog-card__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog-card__item {
  display: flex;
  //flex-wrap: wrap;
  width: 100%;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    //display: inline-block;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 0 3px;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog-card__item-description {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  width: 40%;

  @media (min-width: $tablet-width) {
    //display: block;
    width: 50%;
  }
}

.catalog-card__item-text {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.catalog-card--secondary {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 20px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    border: 1px solid #f2f2f2;
    margin: 0;
    background: none;
    padding: 50px 37px 40px;
  }

  @media (min-width: $desktop-width) {
    //
  }
}

.catalog-card--secondary::before {
  background-image: url("../../icons/stack.svg#plus");
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  background-size: contain;
  margin: 0 auto 23px;

  @media (min-width: $tablet-width) {
    height: 60px;
    width: 60px;
    margin: 0 auto 50px;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto 40px;
  }
}

.catalog-card__wrapper {
  //
}

.catalog-card__text {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  line-height: 20px;
  font-size: 16px;
  color: $accent-color-text;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 23px;
    line-height: 24px;
    font-size: 20px;
    max-width: 134px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 18px 26px;
  }
}

.catalog-card__subtitle {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin: 0 auto 82px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 90px;
  }
}

.catalog-card__button {
  text-decoration: none;
  margin-top: 17px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 250px;
    max-height: 40px;
    margin: 32px 0 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}

.catalog-card__button-additional {
  min-width: 280px;


  @media (min-width: $tablet-width) {
    min-width: 250px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}
