.catalog-card {
  position: relative;
  display: grid;
  border-top: 1 px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 20px 0 32px;


  @media (min-width: $tablet-width) {
    border: none;
    padding: 10 37px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px;
  }
}


.catalog-card__content {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 50px 1fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 162px 162px;
    grid-template-rows: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 125px 125px;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.catalog-card__link-image {
  display: block;
  grid-column: 1/2;
  grid-row: 1/4;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.catalog-card__link {
  display: block;
  grid-column: 2/3;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.catalog-card__picture {
  vertical-align: middle;
}

.catalog-card__title {
  margin: 0;
}

.catalog-card__list {
  //
}

.catalog-card__item {
  //
}

.catalog-card__item-description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.catalog-card--secondary::before,
.catalog-card--secondary::after {
  position: absolute;
  top: -7px;
  left: 100px;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  content: "";
}

.catalog-card--secondary::before {
  transform: rotate(90deg);
}

.catalog-card--secondary::after {
  transform: rotate(0deg);
}

.catalog-card__text {
  font-family: $secondary-font;
  line-height: 20px;
  color: $accent-color-text;
  text-transform: uppercase;
  margin: 0 0 8px;
  text-align: center;
}

.catalog-card__subtitle {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px;
  text-align: center;
}

.catalog-card__button {
  grid-column: 1/2;


  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}
